<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		
		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>
	
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/art_gallery?useTimezone=true&amp;serverTimezone=UTC
			
		</property>
		
		<property name="hibernate.connection.username">
			root
		</property>
		
		<property name="hibernate.connection.password">
			root
		</property>
		
		<!--  <property name="show_sql">true</property> -->
		<!--  очень плохо, надо изменить на нормальный метод ленивой загрузки, а не это -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		
		<mapping class="by.sda.stringart.bean.util.Style"></mapping>
		<mapping class="by.sda.stringart.bean.artists.Artist"></mapping>
		<mapping class="by.sda.stringart.bean.pictures.Picture"></mapping>
		<mapping class="by.sda.stringart.bean.standarts.Standart"></mapping>
		<mapping class="by.sda.stringart.bean.users.User"></mapping>
		<mapping class="by.sda.stringart.bean.orders.Order"></mapping>
		
	</session-factory>
</hibernate-configuration>