body{
	background-image:url(../images/aboutUs1.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
	background-size: cover;
}

#footer {
	position: fixed; /* Фиксированное положение */
	text-align: center;
	bottom: 0; /* Левый нижний угол */
	padding: 10px; /* Поля вокруг текста */
	width: 70%; /* Ширина слоя */
}
#textId{
	position: fixed; /* Фиксированное положение */
	bottom: 50%;
	right: 15%;
	text-align: left;
	font:40px Verdan;
}
#largeSymbols{
	font:40px Verdan;
}