body{
	background-image:url(../images/authent.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
	background-size: cover; 
}
#textColor{
	color:#adaa85;
}
