 body {
 	background-image:url(../images/orderCreated.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    background-size: cover;
 }
#footer {
	position: fixed; /* Фиксированное положение */
	text-align: center;
	bottom: 0; /* Левый нижний угол */
	bottom: 0;
	padding: 10px; /* Поля вокруг текста */
	width: 70%; /* Ширина слоя */
}
#color{
	color:  #DCDCDC;
}